<!DOCTYPE html>
<html lang="en">





    <head>





        <title>Bokeh Plots</title>


        <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>


    </head>





    <body>

      <form method="post" action="">

        <h1>

        Bike Traffic Plots

        </h1>

        <br>

        Please select an option

        <br><br>

        <select id="userinfoform" name="userinfoform">

        <option>All</option>

        <option selected>Jan</option>

        <option>Feb</option>

        <option>Mar</option>

        <option>Apr</option>

        <option>May</option>

        <option>Jun</option>

        <option>Jul</option>

        <option>Aug</option>

        <option>Sep</option>

        <option>Oct</option>

        <option>Nov</option>

        <option>Dec</option>

        </select>

        <p>

          <input type='submit' name="price" value='Show' />

        </p>

      </form>





      <div class="container">





            <img src="static/img/bokehJan.png" style="width:700px;height:420px;">

      </div>





    </body>





</html>
